.header {
}

.title {
}

.content {

}

.button {
}

.text {
}

.checkbox {
}

.dropdown {
    background-image: url('images/dropdown.png');
    background-position: right;
    background-repeat: no-repeat;
}

.radio {
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.legal {
    text-align: center;
}

.table-header {
    text-align: center;
    background-color: #90f3d2;
    font-weight: bold;
}

.table-label {
    text-align: right;
}

a:link, a:visited {
	color:#27b;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a img {
	border-width:0;
}
