body, label, input, button, a, table, p, link, h1, h2, h3
, h4, h5, h6, ol, ul, address, menu, blockquote, center, del
, div, span, noscript, pre, abbr, em, strong, b, i, big, small
, tt, fieldset, param {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.header {
}

.title {
}

.content {

}

.button:hover {
    background: url('images/blue-button.png') no-repeat;
    height: 55px;
    width: 150px;
    border: 0;
}

.button {
    background: url('images/button.png') no-repeat;
    height: 55px;
    width: 150px;
    border: 0;
}

.text {
    background: url('images/textbox.png') no-repeat top left;
    height: 22px;
    width: 156px;
    border: 0;
    margin-top: 3px;
    margin-left: 5px;
    padding-left: 6px;
}

.search-box {
    background: url('images/input_search.png') no-repeat -19px -54px;
    height: 22px;
    width: 156px;
    border: 0;
    margin-top: 3px;
    margin-left: 5px;
    padding-left: 25px;
}

.checkbox {
}

.dropdown {
    background-image: url('images/dropdown.png');
    background-position: right;
    background-repeat: no-repeat;
}

.radio {
    background-image: url('images/radio.png');
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.legal {
    text-align: center;
}

table {
    width: 100%;
}

.table-header {
    text-align: center;
    background-color: #90f3d2;
    font-weight: bold;
}

.table-label {
    text-align: right;
}

a:link, a:visited {
	color:#27b;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a img {
	border-width:0;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}
