body, label, input, button, a, table, p, link, h1, h2, h3
, h4, h5, h6, ol, ul, address, menu, blockquote, center, del
, div, span, noscript, pre, abbr, em, strong, b, i, big, small
, tt, fieldset, param {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

:-moz-any-link :focus {
	outline: none;
}

:focus {
	-moz-outline-style: none;
	outline: none;
}

.header {
}

.title {
}

.content {

}

.button:hover {
    background: url('images/blue-button.png') no-repeat 0px 1px;
    height: 21px;
    width: 110px;
    border: 0;
}

.button {
    background: url('images/button.png') no-repeat 0px 1px;
    height: 21px;
    width: 110px;
    border: 0;
}

.text {
    background: url('images/textbox.png') no-repeat top left;
    height: 22px;
    width: 156px;
    border: 0;
    margin-top: 3px;
    margin-left: 5px;
    padding-left: 6px;
}

.search-box {
    background: url('images/input_search.png') no-repeat -19px -54px;
    height: 22px;
    width: 156px;
    border: 0;
    margin-top: 3px;
    margin-left: 5px;
    padding-left: 25px;
}

.checkbox {
}

.dropdown {
    background-image: url('images/dropdown.png');
    background-position: right;
    background-repeat: no-repeat;
}

.radio {
    background-image: url('images/radio.png');
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.action-button {
    text-align: right;
}

table {
    width: 100%;
}

table.listing {
    border: 1px solid #DFEFFC;
    margin-top: 5px;
    text-align: center;
}

table th {
    text-align: center;
}

form table td {
    padding-bottom: 3px;
}

form table input {
	width: 100px;
	padding: 2px;
	margin: 0px;
}

td.label {
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}

td.txt-label {
    font-weight: bold;
    padding-right: 20px;
}

.table-header {
    text-align: center;
    background-color: #90f3d2;
    font-weight: bold;
    margin-top: 20px;
}

label.error {
	display: block;
	color: red;
	font-style: italic;
	font-weight: normal;
    font-size: 0.9em;
}

input.error {
	border: 2px solid red;
}

div.error {
	color: red;
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
}

div.error a {
	color: #336699;
	font-size: 12px;
	text-decoration: underline
}

div.nothing-msg {
    font-style: italic;
    text-align: center;
    color: red;
}

.admin-login-box {
    border: 1px solid #7F7F7F;
    margin-top: 100px;
    padding: 7px;
    background-color: #FFFFFF;
}

a:link, a:visited {
	color:#27b;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a img {
	border-width:0;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

.product-block {
    border: 1px;
    width: 22%;
    padding: 5px;
    margin: 5px;
    float: left;
    text-align: center;
}

.block-header {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: inherit;
    text-align: center;
}

.legal {
    margin: 0;
    margin-top: 20px;
    font-size: 0.6em;
    text-align: center;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}
